body{
   font-family: 'Roboto', sans-serif;
   }

.nav-item{
    letter-spacing : .2em;
    fort-size:14px;
    text-transform :uppercase;
    }
.dropdown-item{
    letter-spacing : .2em;
    fort-size:14px;
    text-transform :uppercase;
    }
.my_footer{
     background-color: black;
     height:60px;
     }
.my_footer p{
     padding-top:20px;
     font-size: 14;
     }
.my_row_class{
     padding-top:15px;
}
.my_row_class .max_auto{
       color:#000;
       font-size=12px;
       }
.my_image{
    width:100%;
    height:250px;
}
.my_title{
    font-size:16px;
    text_transform:uppercase;
    letter-spacing:.2em
}
.my_image_padding{
    padding:5px;
}
.my_bottom_margin{
    margin-bottom:10px;
}
.card-body h4{
font-size:14px;
text-transform:uppercase;
letter-spacing:.2em;
}



/***  product ***/
.my_prod_row_class{
    padding-top:15px;
    padding-bottom:20px;

}
.my_prod_row_class .mx_auto{
              color:#000;
              font-size:12px;
              text_decoration:none;

}
.my_prod_title{
fort-size:16px;
text_transform:uppercase;
letter-spacing:.2em;
padding-top:15px;
padding-bottom:10px;
}
.my_prod_text{

padding-right:20px;
}
.pdimg{
    height:225px;
    width:350px;

}
.my_search_text{
  padding-top:30px;
}

/*** Cart Page ***/
.my_custom_table{
     min-width:400px;
     fort_size:14px;
}
.my_custom_thead{
     form-weight:normal;
     text_transform:uppercase:
     letter-spacing:.2em;
     background-color:#f8f8fa!important;


}

.custom_a{
      text-text_decoration:none;
 }
.custom_icon{
     text_decoration:none;
     color:#868e96!important;
}
.my_custom_button{
       margin-top:5px;
}

